.container {
  padding: 80px;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
.loginPic {
  display: flex;

  img {
    max-width: 100%;
    justify-content: left;
    margin-top: 50px;
  }
}

.welcome {
  display: flex;
  margin-left: 50px;
  margin-bottom: -95px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;

  h1 {
    margin: 2px;
    color: #213f7d;
    font-size: 2rem;
  }

  p {
    color: #777;
  }
  h5 {
    color: #39cdcc;
    margin-bottom: 2px;
  }

  .input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 240%;
  }
  .inputContainer {
    align-items: center;
    display: flex;
    width: 73%;
  }

  .toggle-icon {
    margin-right: 10px;
    cursor: pointer;
    transform: translateX(-180%);
  }

  .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #39cdcc;
    color: white;
    width: 68%;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken(#39cdcc, 10%);
    }
  }
}
